<template>
<v-container class="elevation-2 pa-0 container" fill-height  @click="playSound">
  <v-layout column align-center>
    <v-flex xs10 class="pt-5">

        <h1 class="huge-text unselectable">{{ word }}</h1>

    </v-flex>
    <v-flex xs2>
      <v-btn flat large style="height:100%">
        <v-icon
         >headset</v-icon>
      </v-btn>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script>
import Speech from 'speech-synthesis'

export default {
  props: ['word'],
  data () {
    return {
      playable: true
    }
  },
  methods: {
    playSound () {
      if (this.playable) {
        Speech(this.word, 'Google US English')
        this.playable = false
        setTimeout(() => {
          this.playable = true
        }, 1000)
      }
    }
  }
}

</script>

<style scoped>
.container {
  min-height: 50vh;
  min-width: 50vw;
}

.huge-text {
  font-size: 7em;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
</style>
