<template>
  <v-app>
    <v-toolbar
      color="#E31D1A"
      >
      <img src="/static/img/lancers.jpg" height="60" @click="selected = null"/>
      <v-toolbar-title>
        Roosevelt Elementary Snap Words
      </v-toolbar-title>
      <v-tabs
        v-model="active"
        color="#E31D1A"
        slider-color="black"
        centered
        slot="extension"
        v-if="selected"
      >
        <v-tab>
          List 1
        </v-tab>
        <v-tab>
          List 2
        </v-tab>
        <v-tab>
          List 3
        </v-tab>
        <v-tab @click="reshuffle">
          Random
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-container>
      <div v-if="!selected">
  <v-card
    class="mx-auto"
  >
    <v-list class="text-xs-center">
        <v-list-tile @click="selected = 'kindergarten'">
          <v-list-tile-content>
            <v-list-tile-title class="text-xs-center">Kindergarten</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile @click="selected = 'first'">
          <v-list-tile-content>
            <v-list-tile-title class="text-xs-center">First Grade</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
    </v-list>
  </v-card>
      </div>
      <div v-if="selected">
      <v-layout row justify-space-around>
        <v-layout column justify-center @click="prevCard">
          <v-flex xs2 class="unselectable">
            <v-icon
              :disabled="cardNumber == 0"
            >arrow_back_ios</v-icon>
          </v-flex>
        </v-layout>
        <v-layout column justify-center fill-height>
          <v-flex xs8>
            <card :word="activeList[cardNumber]" ref="Card"></card>
            <div class="unselectable"><center>{{ cardNumber + 1 }} of {{ activeList.length }}</center></div>
          </v-flex>
        </v-layout>
        <v-layout column justify-center align-end @click="nextCard">
          <v-flex xs2 class="unselectable">
            <v-icon
              :disabled="cardNumber == activeList.length"
            >arrow_forward_ios</v-icon>
          </v-flex>
        </v-layout>
      </v-layout>
      </div>
    </v-container>
    <v-footer class="pa-3">
      <v-spacer></v-spacer>
        <div class="unselectable">Created by Michael Strudas of &nbsp;<a href="https://ninetofivecomputers.com">Nine to Five Computers</a>&nbsp;&copy; 2018-{{ new Date().getFullYear() }}</div>
      <v-spacer></v-spacer>
    </v-footer>
  </v-app>
</template>

<script>
import Card from '@/components/card.vue'
// import List1 from '@/assets/list1.js'
// import List2 from '@/assets/list2.js'
// import List3 from '@/assets/list3.js'

function shuffle (array) {
  let currentIndex = array.length
  let randomIndex
  let temporaryValue
  while (currentIndex > 0) {
    randomIndex = Math.floor(Math.random() * currentIndex)
    currentIndex -= 1

    temporaryValue = array[currentIndex]
    array[currentIndex] = array[randomIndex]
    array[randomIndex] = temporaryValue
    // eslint-disable-next-line
    // [array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]]
  }
  return array
}
// const Combined = [].concat(List1, List2, List3)
// const Random = shuffle(Combined)
// const Lists = [List1, List2, List3, Random]

export default {
  name: 'App',
  data () {
    return {
      active: 0,
      cardNumber: 0,
      selectedVal: null,
      Lists: null
    }
  },
  methods: {
    nextCard () {
      this.cardNumber = Math.min(this.cardNumber + 1, this.activeList.length - 1)
    },
    prevCard () {
      this.cardNumber = Math.max(this.cardNumber - 1, 0)
    },
    reshuffle () {
      this.Lists[3] = shuffle(this.Lists[3])
      this.cardNumber = 0
      this.$forceUpdate()
    },
    getList (number, path) {
      return () => import(`@/assets/${path}/list${number}.js`).then(m => m.default || m)
    }
  },
  computed: {
    activeList () {
      return this.Lists[this.active]
    },
    selected: {
      get () {
        return this.selectedVal
      },
      async set (val) {
        if (val === null) {
          this.selectedVal = val
          return
        }
        let List1 = await this.getList(1, val)()
        let List2 = await this.getList(2, val)()
        let List3 = await this.getList(3, val)()
        let Random = shuffle([].concat(List1, List2, List3))
        this.Lists = [
          List1,
          List2,
          List3,
          Random
        ]
        this.selectedVal = val
      }
    }
  },
  components: {
    Card
  },
  watch: {
    'active' (to) {
      this.cardNumber = 0
    }
  }
}
</script>

<style scoped>
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
</style>
